/* Box Model Hack */
* {
    box-sizing: border-box;
    /* border: 2px solid red; */
    /* font-size: 1rem; */
    color: white;
  }

  body {
    background: url('https://images.unsplash.com/photo-1590272456521-1bbe160a18ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  

* {
    font-family: 'Russo One', 'Kdam Thmor Pro',  'Source Sans Pro';
} 
 
 /* Header */
 .picOfDayHeader nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
  
  
.picLogo {
    width: 4rem;
}
  
.listPic {
    list-style-type: none;
}

.listPic li {
    font-size: 1.3rem;
}  

.listPic a {
    color: white;
    text-decoration: none;
}
  
 a:hover {
    color: #055787;
}
.nasaL:hover {
    -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
}
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  @media screen and (max-width: 800px) {
    .picOfDayHeader nav ul {
        justify-content: space-around;
    }
    nav ul li {
        padding: 1rem;
    }
  }

/* Main */
main {
    text-align: center;
    padding-bottom: 3rem;
}

main h1 {
    font-size: 2rem;
    font-weight: 200;
}

main p {
    font-size: 1rem;
    font-weight: 100;
}

/* Middle */

.middle {
    display: flex;
    justify-content: space-around;
}



/* Expanding */
html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    padding-bottom: 3rem;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 10px;
    background-size: cover;
    background-position: center;
    flex: 1; /*evenly distrubites thru the page */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(./images/samantha-cristoforetti.jpg); }
.panel2 { background-image:url(./images/Jessica-Watkins.jpg); }
.panel3 { background-image:url(./images/Robert-Hines.jpg); }
.panel4 { background-image:url(./images/Kjell-Lindgren.jpg); }
.panel5 { background-image:url(./images/Denis-Matveev.JPG); }
.panel6 { background-image:url(./images/Oleg-Artemyev.JPG); }
.panel7 { background-image:url(./images/Sergey-Korsakov.JPG); }

  /* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
      /* border: 1px solid red; use border when using next step to see where elements go on the page*/
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*first and third row this is to take it off screen for now. so we can animate it back later
2nd and 4th row is to reposition it back animated*/
.panel > *:first-child {transform: translateY(-100%)}
.panel.open-active > *:first-child {transform: translateY(0)}
.panel > *:last-child {transform: translateY(100%)}
.panel.open-active > *:last-child {transform: translateY(0)}


.panel p {
    text-transform: uppercase;
    font-family: 'Russo One', 'Kdam Thmor Pro',  'Source Sans Pro', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 30px;
    /* ^ is Panel Size */
}
  
/* Font Size Displayed and Stays for Name*/
.panel p:nth-child(2) {
    font-size: 3em;
}


/* For Font Size on Click */
.panel.open { 
    flex: 5; /*takes 5xs the amount of room than flex of 1*/
    font-size: 1rem;
}

.name:hover {
    color: #055787;
    text-shadow: 1px 1px 1px black;
}

/* Mobile */

@media screen and (max-width: 1500px) {
    nav ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    main {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .middle{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .date {
        width: 10vw;
        padding: 0 5rem 0 0;
        margin: 0;
    }

    .roverInfo {
        display: flex;
        flex-wrap: wrap;
    }
}